/* advent-pro-regular - latin */
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/advent-pro-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Advent Pro Regular'), local('AdventPro-Regular'),
         url('fonts/advent-pro-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/advent-pro-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/advent-pro-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/advent-pro-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/advent-pro-v10-latin-regular.svg#AdventPro') format('svg'); /* Legacy iOS */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 20%;
    margin: 0 auto;
    text-align: left;
    color: red;

}
p {
    font-family: 'Advent Pro';
}